.page {
  padding: 60px;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
  font-family: "Playfair Display", serif;
  color: #2a1f18;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
  text-align: center;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 240px;
  object-fit: contain;
  margin-bottom: 12px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.card p {
  font-size: 14px;
  color: #666;
}

.sizes {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 10px 0;
}

.sizes span {
  background: #eee;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
}

.card button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #c2a48a;
  cursor: pointer;
}

.filterBar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filterBtn {
  padding: 8px 14px;
  border: none;
  background: #eee;
  border-radius: 20px;
  cursor: pointer;
}

.activeFilter {
  padding: 8px 14px;
  border: none;
  background: black;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.searchBar {
  width: 100%;
  padding: 10px 14px;
  margin: 15px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.searchBar:focus {
  border-color: black;
}
